<h2>By Capital</h2>
<hr>
<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:4181784831. -->
<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <!-- (onValue)="searchByCapital($event)" -->
        <shared-search-box 
        placeholder="Search for a country capital" 
        [initialValue] = "initialValue"
        (onDebounce)="searchByCapital($event)"
        ></shared-search-box>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <!-- Results -->
        Results table
        <hr>
        <shared-loader-spinner *ngIf="isLoading"></shared-loader-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>