<h2>By Country</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <shared-search-box 
        placeholder="Search for a country name" 
        [initialValue] = "initialValue"
        (onDebounce)="searchByCountry($event)"></shared-search-box>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <!-- Results -->
        Results table
        <hr>
        <shared-loader-spinner *ngIf="isLoading"></shared-loader-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>