<h1>User Info</h1>
<hr>
<div class="row mt-3">
  <div class="col-4">
    <h3>Current User {{ userId() }}</h3>

    <button (click)="loadUser(userId() - 1)" class="btn btn-primary">Previous</button>
    &nbsp;
    <button (click)="loadUser(userId() + 1)" class="btn btn-primary">Next</button>
  </div>
  <div class="col-8" *ngIf="userWasFound()">
    <h3>User:</h3>
    <p>Name: {{ fullName() }}</p>
    <p>Email: {{ currentUser()?.email }}</p>
    <img [src]="currentUser()?.avatar" alt="avatar" class="rounded"/>
  </div>
  <div class="col-8 text-danger" *ngIf="!userWasFound()">
    <h3>User not found</h3>
  </div>
</div>
